body{
    margin:0 auto;
}

.header-section{
    display: flex;
    width:100%;
  
    margin-top: 15px;


}
.left{
   width:20%;
   padding-left: 50px;

}
.middle{
    width:60%;

}
.middle img{
   padding-left: 150px;
    height:180px;
}
.h2One{
    margin-left: 100px;
}
.h2Two{
    margin-left: 180px;
}
.right{
    width:20%;
   
}
.right img{
    height:220px;
    
}
.down-h2{
    padding-left:40px;
}
.student-details-container{
   display: flex;
}
.student-left{
    width:50%;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
}
.session{
  padding-left: 50px;
}
.student-right{
    width:50%;
 margin-right: 80px;
    text-align: end;
}
.studentName{
    margin-left: 40px;
  display: flex;
    justify-content: space-between; 
}
.exam-pass{
    margin-left:350px;
}
.hr{
    border:2px solid gray;
}
.examinner{
    margin-left: 30px;
    
}
.exam-permission-container{
    margin-top: 100px;
}

.details{
    margin-left: 30px;
}
.result-details{
    display: flex;
}

.space{
    padding:35px
}